{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/codemirror.css">
<style>
.CodeMirror {
  border: 1px solid #eee;
  height: 35rem;
}
</style>
{% endblock %}
{% block body %} 
<form class="container" id="query-form" method="POST">
  {{csrf_token()}}
  <noscript class="alert alert-info d-block">
    <strong>Notice:</strong> This page works without JavaScript, but the
    experience is improved if you enable it.
  </noscript>
  <div class="row">
    <div class="col-md-7">
      <textarea
        class="form-control"
        rows="25"
        id="editor"
        placeholder="Enter a GraphQL query here"
        name="query">{{query}}</textarea>
      <script>
        /* Reduce effects of FOUC for JS users */
        document.getElementById('editor').style.display = 'none';
      </script>
    </div>
    <div class="col-md-5">
      {{results}}
      <button class="btn btn-primary pull-right" type="submit">
        Submit query {{icon('caret-right')}}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <details style="margin-top: 1rem">
        <summary>View GraphQL schema</summary>
        {{schema}}
      </details>
    </div>
  </div>
</form>
{% endblock %}
{% block scripts %}
<script src="/static/codemirror.js"></script>
<script src="/static/simple.js"></script>
<script>
CodeMirror.defineSimpleMode("graphql", {
  start: [
    {regex: /"(?:[^\\]|\\.)*?(?:"|$)/, token: "string"},
    {regex: /#.*/, token: "comment"},
    {regex: /\w[a-zA-Z]+/, token: "atom"},
  ],
  meta: {
    lineComment: "#"
  }
});

const el = document.getElementById('editor');
let cm = CodeMirror(elt => {
  el.parentNode.replaceChild(elt, el);
}, {
  value: el.value,
  mode: 'graphql',
  lineNumbers: true,
});

document.querySelector('button[type="submit"]').addEventListener('click', ev => {
  ev.preventDefault();
  let form = document.getElementById('query-form');
  let node = document.createElement('input');
  node.type = 'hidden';
  node.name = 'query';
  node.value = cm.getValue();
  form.appendChild(node);
  form.submit();
});
</script>
{% endblock %}
