<a class="navbar-brand" href="/">
  {{site_name}}
  <span class="text-danger">{{site.split(".")[0]}}</span>
</a>
<ul class="navbar-nav">
  {% if current_user %}
  {% for _site in network %}
  <li class="nav-item {{'active' if _site == site else ''}}">
    <a
      class="nav-link"
      href="{{get_origin(_site, external=True)}}"
    >{{_site.split(".")[0]}}</a>
  </li>
  {% endfor %}
  {% endif %}
</ul>
<div class="login">
  {% if current_user %}
  <span class="navbar-text">
    Logged in as
    <a href="{{get_origin("meta.sr.ht", external=True)}}/profile">
      {{current_user.username}}</a>
    &mdash;
    <a href="{{logout_url}}">Log out</a>
  </span>
  {% else %}
  <span class="navbar-text">
    {% if site == 'meta.sr.ht' %}
    <a href="/login">Log in</a>
    &mdash;
    <a href="/">Register</a>
    {% else %}
    <a href="{{ oauth_url }}" rel="nofollow">Log in</a>
    &mdash;
    <a href="{{get_origin("meta.sr.ht", external=True)}}">Register</a>
    {% endif %}
  </span>
  {% endif %}
</div>
