.header-tabbed {
  border-bottom: 3px solid #ddd;
  margin-bottom: 1rem;

  .container, .container-fluid {
    display: flex;
  }

  &.vertical {
    align-items: inherit;
    flex-direction: column;
  }

  h2 {
    display: inline;
    margin: 0;
    padding-right: 1rem;

    @include media-breakpoint-down(xs) {
      flex-grow: 1;
      text-align: center;
    }
  }

  .nav {
    border: none;
    margin: 0;
    flex-grow: 1;
    display: inline-flex;
    padding: 0;

    li {
      align-self: flex-end;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding-bottom: 1rem;

      li {
        align-self: flex-start;
        margin: 0 -1rem;
        width: calc(99.9% + 2rem);
      }

      .nav-item.back-button {
        margin-left: -8px;
      }
    }
  }

  form {
    margin: 0;
  }

  button.nav-link {
    background: inherit;
  }

  @include media-breakpoint-down(xs) {
    & .nav-tabs {
      padding-left: 0;
    }
  }
}
